<footer class="book-footer row book-mt-small">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2021</b> Book Store, All rights reserved. 
            <!-- Design: <a rel="nofollow noopener" href="#" class="book-footer-link">Sakaria Online Stationary Mart</a> -->
        </p>
    </div>
</footer>