<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<footer class="footers pt-5 pb-3" style="background-color: #172337;">
   	<div class="container pt-40">
       	<div class="row footer-row-main">
    	   	<div class="col-xs-12 col-sm-6 col-md-2 footers-row-main-in">
    			<div class="footer-data">ABOUT </div>
				<a class="footer-data-items">Contact Us</a>
				<a class="footer-data-items">About us</a>
				<a href="/admin-login" class="footer-data-items">Admin</a>
    		</div>
    	   	<div class="col-xs-12 col-sm-6 col-md-2 footers-row-main-in">
          		<div class="footer-data">HELP </div>
				<a class="footer-data-items">Shipping</a>
				<a class="footer-data-items">FAQ</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-2 footers-row-main-in">
				<div class="footer-data">POLICY </div>
			  	<a class="footer-data-items">Terms Of Use</a>
			  	<a class="footer-data-items">Privacy Policy</a>
			  	<a class="footer-data-items">Refund Policy</a>
		  	</div>
    	   	<div class="col-xs-12 col-sm-6 col-md-2 footers-row-main-in">
    		  	<div class="footer-data">SOCIAL </div>
    		  	<a class="footer-data-items">Facebook</a>
				<a class="footer-data-items">Twitter</a>
				<a class="footer-data-items">YouTube</a>
    		</div>
        
			<div class="col-xs-12 col-sm-6 col-md-2 footers-row-main-in footer-border-left">
				<div>
					<div class="footer-address">
						<div class="footer-data">
							<span>Registered Office Address: </span>
						</div>
						<div class="footer-address-outer">
							<div class="footer-address-outer-in">
								<div class="footer-address-main">
									<p>	Book Store, </p>
									<p> Buildings, Bandra </p>
									<p> Mumbai, 560103, </p>
									<p> Maharashtra, India </p>
									<p> Telephone: <a href="#">1234 123 4567</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
	   	</div>
   </div>
   <div class="footer-bottom">
	   	<div class="footer-bottom-copy">
			<span style="color: #fff; font-size: 12px;">&copy; Book Store, All rights Resevered. Powered by XYZ </a></span>
	   	</div>
	</div>
</footer>